body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  #location_bar{
    background-color: gray;
    width: 100%;
  }

  #sidebar {
    width: 30%;
    background: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    height: 100vh; /* Occupy full height of the screen */
  }
  #all {
    display: flex;
    flex-direction: row;
  }
  #registry {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* use 'repeat' for cleaner grid creation */
    gap: 10px; 
    padding: 20px;
    height: 100vh; /* occupy full height of the screen */
  }
  .column {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  .root.active {
      background-color: lightblue;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    cursor: pointer;
    margin-bottom: 5px;
  }
  li:hover {
    text-decoration: underline;
  }
  .sublist {
    display: none;
    margin-left: 15px;
  }
  .sublist.active {
    display: block;
  }

  .registry-value:hover{
    color: #339933;
    cursor: pointer;
  }

  #sidebar {
    width: 30%;
    background: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ccc;
    overflow-y: auto; /* scrollbar for overflow */
    max-height: 100vh; /* maximum height to trigger scrollbar */
  }
  
  #functionality {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: flex-start;
    margin-top: 10px;
    padding: 10px;
  }
  .optionsbtn, .hivebtn, input[type=text] {
    background-color: #8a8a8a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  input :disabled{
    background-color: #47494d;
  }
  .options, .searchbar, .hive {
    position: relative;
    display: inline-block;
  }

  .options-content, .hive-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .options-content a, .hive-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .options-content a:hover {background-color: #ddd;}
  .hive-content a:hover {background-color: #ddd;}

  .options:hover .options-content {display: block;}
  .hive:hover .hive-content {display: block;}

  .hive:hover .hivebtn {background-color: #535453;}
  .options:hover .optionsbtn {background-color: #535453;}

  #create_value_box{
    display: none;
    flex-direction: column;
    align-items: center;
  }

  #create_value_box > * {
    padding: 5px;
    margin: 5px;
}

  #create_key_box{
    display: none;
    flex-direction: column;
    align-items: center;
  }

  #create_key_box > * {
    padding: 5px;
    margin: 5px;
}

  #rename_key_box{
    display: none;
    flex-direction: column;
    align-items: center;
  }

  #rename_key_box > * {
    padding: 5px;
    margin: 5px;
}
  
  #search_value_box{
    display: none;
    flex-direction: column;
    align-items: center;
  }

  #search_value_box > * {
    padding: 5px;
    margin: 5px;
  }
/* START POPUP CSS */

  #popup-edit {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    width: 300px;
    display: none;
  }
  #top-bar{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    text-align: center;
  }
  
  #down-buttons{
    padding: 10px;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #242424;
    color: #fff;
  }
  
  .title {
    padding: 10px;
    flex: 70%;
    text-align: center;
  }
  
  .close_button {
    background-color: #8a8a8a;
    padding: 10px;
    flex: 10%;
  }
  #edit-box{
    padding: 10px
  }

  /* END POPUP CSS */